.foto2 {
  max-width: 50%;
}
.foto1 {
  max-width: 70%;
}
img {
  margin: auto;
}
.disty {
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.himasifo {
  max-width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
